@charset "utf=8";
/*public style*/
.clearfix{
    zoom:1;/*IE浏览器清浮动*/
}
.clearfix:after{
    content:'';/*添加一个空内容*/
    display:block;/*转块*/
    clear:both;/*清浮动*/
}
.fl{
    float:left;
}
.fr{
    float:right;
}
